@rem 750/10rem;
.bottom-border-1px {
  position: relative;
}
.bottom-border-1px::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
  transform: scaleY(0.5);
}
.module-title {
  background-color: #fff;
  text-align: center;
  font-size: 32.00025;
  height: 120;
  line-height: 120;
}
.top-border-1px {
  position: relative;
}
.top-border-1px::before {
  content: '';
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}
*
.clearFix::after {
  content: '';
  display: block;
  clear: both;
}
